[bastion]
{{- if .Bastion }}
{{ .Bastion.PublicIP }}
{{- end }}

[loadbalancer]

[master]
{{- range $master := .MasterIPs }}
{{- if $.LoadBalancer }}
{{ $master.PrivateIP }} public_ip={{ $.LoadBalancer.PublicIP }} private_ip={{ $master.PrivateIP }} nat=true
{{- else }}
{{ $master.PrivateIP }} public_ip={{ $master.PublicIP }} private_ip={{ $master.PrivateIP }} nat=false
{{- end }}
{{- end }}

[worker]
{{- range $worker := .WorkerIPs }}
{{- if $.LoadBalancer }}
{{ $worker.PrivateIP }} public_ip={{ $worker.PublicIP }} nat=true
{{- else }}
{{ $worker.PrivateIP }} public_ip={{ $worker.PublicIP }} nat=false
{{- end }}
{{- end }}

[all:vars]
ansible_connection=ssh
ansible_user={{ .User }}
ansible_ssh_private_key_file="/tmp/id_rsa"
network_cidr=10.0.0.0/16
gateway=10.0.0.1
{{- if .Bastion }}
ansible_ssh_common_args='-vvv -o StrictHostKeyChecking=no -o ProxyCommand="ssh -o \'ForwardAgent yes\' root@{{ .Bastion.PublicIP }} -i /tmp/id_rsa -p 22 \'nc %h %p\'"'
{{- end }}
