clustername: {{ .ClusterName }}

cni: {{ .Cni }}

{{- if .PrivateRegistry }}
private_registry: {{ .PrivateRegistry }}
{{- else }}
private_registry: ""
{{- end }}

{{- $insec_reg := len .InsecureRegistries }}{{- if gt $insec_reg 0 }}
insecure_registries: 
{{- range $reg := .InsecureRegistries }}
- {{ $reg }}
{{- end }}
{{- else }}
insecure_registries: []
{{- end }}

kubernetes_version: {{ .K8sversion }}