clustername: {{ .ClusterName }}

cni: {{ .Cni }}

{{- if .PrivateRegistry }}
private_registry: {{ .PrivateRegistry }}
{{- end }}

{{- $insec_reg := len .InsecureRegistries }}{{- if gt $insec_reg 0 }}
insecure_registries: 
{{- range $reg := .InsecureRegistries }}
- {{ $reg }}
{{- end }}
{{- end }}

ntp_server: time.google.com
secondary_ntp_server: time.windows.com

kubernetes_version: {{ .K8sversion }}